@font-face {
	font-family: "pIqaD qolqoS";
	src: url("pIqaD-qolqoS.ttf");
}

body {
	font-family: "pIqaD qolqoS";
}

h1 {
	text-align: center;
	break-before: recto;
}

.zayz {
	break-before: page;
}

.zayzHom {
	padding: .25em;
	break-inside: avoid;
}

.zayzHom div {
	padding-left: .5em;
}

.zayzHom div:first-child {
	padding-left: 0;
}

.Hoch {
	-webkit-text-stroke: .5pt black;
	-webkit-text-fill-color: white;
}

.jatlh {
	position: relative;
	margin-top: .5em;
	margin-bottom: .5em;
	padding: .25em;
}

.jatlh:before, .jatlh:after {
	border-style: solid;
	border-right: none;
	border-width: 1px;
	position: absolute;
	width: 1em;
	height: 1em;
	display: block;
	content: ' ';
	left: 0;
}

.jatlh:before {
	top: 0;
	border-bottom: none;
}

.jatlh:after {
	bottom: 0;
	border-top: none;
}

.jatlh>:first-child:before {
	position: absolute;
	top: -2pt;
	left: 20pt;
	font-size: 6pt;
}

.qeylIS:before, .qeylIS:after {
	border-color: red;
	border-width: 3px;
	border-style: double;
	border-right: none;
}

.qeylIS:before {
	border-bottom: none;
}

.qeylIS:after {
	border-top: none;
}

.qeylIS>:first-child:before {
	content: '';
}

.qeylIS {
	color: red;
}

.molor:before, .molor:after, .molor,
.molor_Duy:before, .molor_Duy:after, .molor_Duy{
	border-color: grey;
	color: grey;
}

.molor>:first-child:before {
	content: '';
}

.molor_Duy>:first-child:before {
	content: ' ';
}

.qanjIt>:first-child:before {
	content: '';
}

.moratlh>:first-child:before {
	content: '';
}

.qanjIt.moratlh>:first-child:before {
	content: '  ';
}

.qanraz>:first-child:before {
	content: '';
}

.luqaraz>:first-child:before {
	content: '';
}

.SuvwIz_qan>:first-child:before {
	content: ' ';
}

.qortar>:first-child:before {
	content: '';
}
